@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  border: none; }

a {
  color: black;
  text-decoration: none; }

.bodyIndex {
  background-image: url("../assets/img/bg1(mobile).png");
  background-size: cover;
  background-attachment: fixed; }

.bodyPropiedades {
  background-image: url("../assets/img/bg2(mobile).png");
  background-size: cover;
  background-attachment: fixed; }

.bodyContacto {
  background-image: url("../assets/img/bg4(mobile).png");
  background-size: cover;
  background-attachment: fixed; }

.bodyEquipo {
  background-image: url("../assets/img/bg3(mobile).png");
  background-size: cover;
  background-attachment: fixed; }

.bodyFavoritos {
  background-image: url("../assets/img/bg5(mobile).png");
  background-size: cover;
  background-attachment: fixed; }

.navFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navFlex a img {
    width: 40%; }

.navbar button {
  background-color: white;
  border: solid 1px black; }

.navBarBgColor {
  background-color: rgba(255, 255, 255, 0.447); }
  .navBarBgColor ul li {
    margin: 8px; }
    .navBarBgColor ul li a {
      color: black;
      font-weight: 400;
      border-radius: 10px;
      font-family: "Raleway", sans-serif; }

main h1 {
  text-align: center;
  margin: 10%;
  font-size: 70px;
  font-family: "Cabin", sans-serif; }

.formIgual {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

form {
  font-family: "Raleway", sans-serif;
  width: 70%;
  background-color: black;
  margin: 15% 0 15% 0;
  color: white;
  border-radius: 10px;
  padding: 25px; }
  form input {
    width: 100%;
    margin: 10px 0 10px 0; }
  form select {
    width: 100%;
    margin: 10px 0 10px 0;
    border-radius: 10px; }

.btnForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px; }
  .btnForm .btnBorrBusc {
    background-color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 30px;
    border-radius: 5px; }
    .btnForm .btnBorrBusc:hover {
      background-color: yellow; }
    .btnForm .btnBorrBusc a:hover {
      color: black; }

.mainPropiedades {
  font-family: "Raleway", sans-serif; }

.margenPaginas {
  margin: 15px; }

.tituloPaginaDatos {
  margin: 30px 5px 30px 5px; }
  .tituloPaginaDatos select {
    width: 100%; }

.subTituloPaginaDatos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px; }
  .subTituloPaginaDatos div select {
    border-radius: 10px;
    width: 130px; }

.sectionPropiedades {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.632);
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative; }
  .sectionPropiedades span {
    font-family: "Cabin", sans-serif; }
  .sectionPropiedades picture img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px; }
  .sectionPropiedades picture article {
    margin-top: 20px; }
  .sectionPropiedades .ventaAlquiler {
    background-color: green;
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 800;
    top: 40px;
    right: 270px;
    padding: 10px;
    border-radius: 5px; }

.costoPropiedad {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: none; }

.parrafoDatosPropiedad {
  text-align: justify;
  margin: 10px 0 10px 0; }

hr {
  margin-top: 10px;
  border: solid 1px black; }

.comodidades {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  margin: 10px 0 10px 0; }

.addFavoritos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black; }
  .addFavoritos button a {
    color: white; }

.buscadorPaginas ul li a {
  color: black; }

h2 {
  font-family: "Cabin", sans-serif; }

h3 {
  font-family: "Cabin", sans-serif; }

h4 {
  font-family: "Cabin", sans-serif; }

textarea {
  width: 100%; }

.btnContacto {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.equipo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  text-align: center; }
  .equipo figure a img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block; }

.miembroEquipo span {
  display: block; }

.miembroEquipo .equipoNombre {
  font-size: 20px;
  font-weight: bold;
  color: black; }

.miembroEquipo .equipoCargo {
  color: gray;
  font-weight: 500; }

.sectionFavoritos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.operacionColor {
  color: red;
  font-weight: 900; }

.onlyDesktop {
  display: none; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }

.redesSociales {
  font-size: 22px; }
  .redesSociales a {
    color: black; }
    .redesSociales a:hover {
      color: yellow; }

@media (min-width: 768px) {
  form {
    width: 50%; }
  .navBar {
    display: flex; }
  .tituloPaginaDatos {
    margin: 20px; }
  .sectionPropiedades {
    display: flex;
    justify-content: center;
    width: 45%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.632);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 15px; }
    .sectionPropiedades .ventaAlquiler {
      top: 40px;
      right: 215px;
      padding: 10px; }
  .forTabletDesktop {
    display: flex;
    flex-wrap: wrap; }
  .sectionTodasPropiedades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
  footer {
    justify-content: space-around; }
  .filtrosMobile {
    position: fixed;
    bottom: 70px;
    left: 340px; }
  .onlyDesktop {
    display: none; } }

@media (min-width: 1024px) {
  .bodyIndex {
    background-image: url("../assets/img/bg1.jpg");
    background-size: cover;
    background-attachment: fixed; }
  .bodyPropiedades {
    background-image: url("../assets/img/bg2.jpg");
    background-size: cover;
    background-attachment: fixed; }
  .bodyContacto {
    background-image: url("../assets/img/bg3.jpg");
    background-size: cover;
    background-attachment: fixed; }
  .bodyEquipo {
    background-image: url("../assets/img/bg4.jpg");
    background-size: cover;
    background-attachment: fixed; }
  .bodyFavoritos {
    background-image: url("../assets/img/bg5.jpg");
    background-size: cover;
    background-attachment: fixed; }
  .navFlex a img {
    width: 20%; }
  .navBarBgColor {
    background-color: rgba(255, 255, 255, 0); }
    .navBarBgColor ul li a:hover {
      background-color: black;
      color: white;
      border-radius: 10px; }
  .vistaDesktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .vistaDesktop h1 {
      font-size: 90px;
      margin: 0px; }
    .vistaDesktop section form {
      margin: 0; }
  .sectionPropiedades {
    width: 40%; }
    .sectionPropiedades picture:hover {
      background-color: black;
      border-radius: 10px;
      transition: 0.3s; }
      .sectionPropiedades picture:hover img:hover {
        opacity: 0.4; }
  .forTabletDesktop {
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr); }
  .favoritosPage {
    display: flex;
    justify-content: center; }
  .agregarAfavoritos:hover {
    color: red; }
  .sectionTodasPropiedades {
    grid-column: span 3; }
  .onlyDesktop {
    display: flex;
    grid-column: span 2;
    align-items: flex-start; }
  .filtrosMobile {
    display: none; }
  .formContacto {
    width: 50%; }
    .formContacto form {
      margin: 0px; }
  .flexDesktopContacto {
    display: flex;
    justify-content: center;
    align-items: center; } }
