
@media (min-width:1024px){

    .bodyIndex {
        background-image: url("../../../assets/img/bg1.jpg");
        background-size:cover;
        background-attachment: fixed;
    }

    .bodyPropiedades {
        background-image: url("../../../assets/img/bg2.jpg");
        background-size:cover;
        background-attachment: fixed;
    }

    .bodyContacto {
        background-image: url("../../../assets/img/bg3.jpg");
        background-size:cover;
        background-attachment: fixed;
    }

    .bodyEquipo {
        background-image: url("../../../assets/img/bg4.jpg");
        background-size:cover;
        background-attachment: fixed;
    }

    .bodyFavoritos {
        background-image: url("../../../assets/img/bg5.jpg");
        background-size:cover;
        background-attachment: fixed;
    }

    .vistaDesktop{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    h1 {
        font-size: 70px;
    }
        
    }

    .burgerMenu {
        display: none;
    }

    .navBarDesktop {
        display: flex;
        list-style: none;
        gap: 20px;
        justify-content: flex-end;
        li{
            a{
                color: black;
            }
        }
    }

    .flexDesktop {
        display: flex;
        align-items: center;
    }



    .sectionPropiedades {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
        gap: 10px;
            picture:hover{
                background-color: black;        
                border-radius: 10px;
                transition: 0.3s;
                img:hover {
                    opacity: 0.4s;
                }
            }

        }


    
    .forTabletDesktop {
        display: grid;
        gap: 10px;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);}

    .favoritosPage{

        display: flex;
        justify-content: center;}

    .sectionTodasPropiedades {
        grid-column:span 3;}

    .onlyDesktop {
        display: flex;
        grid-column: span 2;
        align-items: flex-start;}

    .filtrosMobile {
        display: none;}

    .formContacto {
    
        width: 50%;}

    .flexDesktopContacto {
        display: flex;
        justify-content: center;
 align-items: center;}


}