
@media (min-width:1024px){

    .bodyIndex {
        background-image: url("../assets/img/bg1.jpg");
        background-size:cover;
        background-attachment: fixed;
    }

    .bodyPropiedades {
        background-image: url("../assets/img/bg2.jpg");
        background-size:cover;
        background-attachment: fixed;
    }
 .bodyContacto {
        background-image: url("../assets/img/bg3.jpg");
        background-size:cover;
        background-attachment: fixed;
    }

    .bodyEquipo {
        background-image: url("../assets/img/bg4.jpg");
        background-size:cover;
        background-attachment: fixed;
    }

    .bodyFavoritos {
        background-image: url("../assets/img/bg5.jpg");
        background-size:cover;
        background-attachment: fixed;
    }


.navFlex{
    a{
    img {
        width: 20%;
    }}
}

.navBarBgColor {
background-color: rgba(255, 255, 255, 0);
    ul{
        li {
            a:hover {
                background-color: black;
                color: white;
                border-radius: 10px;
            }
        }
    }}
    .vistaDesktop{
    @include flex (row, center, center);
    h1 {
        font-size: 90px;
        margin: 0px;
    }
    section{
        form{
            margin:0;
        }
    }
    }

    .sectionPropiedades {
        width: 40%;
            picture:hover{
                background-color: black;        
                border-radius: 10px;
                transition: 0.3s;
                img:hover {
                    opacity: 0.4;
                }
            }
        }
    .forTabletDesktop {
        display: grid;
        gap: 10px;
        justify-content: center;
        grid-template-columns: repeat(5, 1fr);}

    .favoritosPage{
        display: flex;
        justify-content: center;}

    .agregarAfavoritos:hover {
            color: red;
        }

    .sectionTodasPropiedades {
        grid-column:span 3;}

    .onlyDesktop {
        display: flex;
        grid-column: span 2;
        align-items: flex-start;}

    .filtrosMobile {
        display: none;}

    .formContacto {
    
        width: 50%;
    form {
        margin: 0px;
    }}

    .flexDesktopContacto {
        display: flex;
        justify-content: center;
    align-items: center;}
    }