@mixin grid($justify, $align, $template){
    display:grid;
    justify-content: $justify;
    align-items: $align;
    grid-template-columns: $template;
}

@mixin flex($direct,$justify,$align){
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
}
