@mixin grid($justify, $align, $template){
    display:grid;
    justify-content: $justify;
    align-items: $align;
    grid-template-columns: $template;
}

@mixin flex($direct,$justify,$align){
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
}

@mixin btnpropio {
        background-color: white;
        padding: 10px 20px 10px 20px;
        margin-top: 30px;
        border-radius: 5px;&:hover{
            background-color: $hoverbutton;
        }
        a:hover{
            color: $hovertext;
        }
        }