.bodyIndex {
    background-image: url("../assets/img/bg1\(mobile\).png");
    background-size:cover;
    background-attachment: fixed;
}

.bodyPropiedades {
    background-image: url("../assets/img/bg2\(mobile\).png");
    background-size:cover;
    background-attachment: fixed;
}

.bodyContacto {
    background-image: url("../assets/img/bg4\(mobile\).png");
    background-size:cover;
    background-attachment: fixed;
}
.bodyEquipo {
    background-image: url("../assets/img/bg3\(mobile\).png");
    background-size:cover;
    background-attachment: fixed;
}
.bodyFavoritos {
    background-image: url("../assets/img/bg5\(mobile\).png");
    background-size:cover;
    background-attachment: fixed;
}