.bodyIndex {
    background-image: url("../assets/img/bg1\(mobile\).jpg");
    background-size:cover;
    background-attachment: fixed;
}

.bodyPropiedades {
    background-image: url("../assets/img/bg2\(mobile\).jpg");
    background-size:cover;
    background-attachment: fixed;
}

.bodyContacto {
    background-image: url("../assets/img/bg4\(mobile\).webp");
    background-size:cover;
    background-attachment: fixed;
}

.bodyEquipo {
    background-image: url("../assets/img/bg3\(mobile\).webp");
    background-size:cover;
    background-attachment: fixed;
}

.bodyFavoritos {
    background-image: url("../assets/img/bg5\(mobile\).webp");
    background-size:cover;
    background-attachment: fixed;
}