footer{
    background-color: rgba(211, 211, 211, 0.805) ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.redesSociales {
    font-size: 22px;
    a {
        color: black;
    }
}