

.bgPage {
    background-color: rgba(214, 214, 214, 0.65);
}

.burgerMenu {
    margin-right: 40px;
}

.navBarDesktop {
    display: none;
}
.navMobileFlex {
    @include flex(row, center, center);
}
.navbar {
    justify-content: center;
}
.navMobile {
    a{
    img {
        width: 40%;
    } }
}