.navFlex{
    @include flex (row, space-between, center);
        a{
            img{
                width: 40%;
            }
        }
}

.navbar{
button{
    background-color: white;
    border: solid 1px black;
}
}

.navBarBgColor {
    background-color: rgba(255, 255, 255, 0.447);
    ul{
        li{
            margin: 8px;
            a{
                color: black;
                font-weight: 400;
                border-radius: 10px;
            }
        }
    }
}