

main {
    h1{
        text-align: center;
    margin: 10%;
    font-size: 70px;
    font-family: $typo-principal;
    }
}

.formIgual {
    @include flex (row,center,center);
}

form {
    font-family: $typo-secundario;
    width: 70%;
    background-color: $bgform;
    margin: 15% 0 15% 0;
    color: white;
    border-radius: 10px;
    padding: 25px;
        input{
            width: 100%;
            margin: 10px 0 10px 0;
        }
            select{
                width: 100%;
                margin: 10px 0 10px 0;
                border-radius: 10px;
            }
}

.btnForm {
    @include flex (row,space-between,center);
    margin: 10px;
    .btnBorrBusc {
        @include btnpropio;
    }
}
