
.margenPaginas {
    margin: 15px;
}

.tituloPaginaDatos{
    margin: 30px 5px 30px 5px;
    select{
        width: 100%;
    }
}

.subTituloPaginaDatos {
    @include flex (row,flex-start,center);

    gap: 20px;
    div{
        select{
            border-radius: 10px;
            width: 130px;
        }
    }
}

.sectionPropiedades {
    @include flex (column,none,none);
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.632);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    picture {
            img {
            width: 100%;   
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
            }
                article{
                margin-top: 20px;
            }
    }
    .ventaAlquiler {
        background-color: green;
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight:800;
    top: 40px;
    right: 270px;
    padding: 10px;
    border-radius: 5px;
    }
}

.costoPropiedad {
    @include flex (row,flex-end,none);
}

.parrafoDatosPropiedad {
    text-align: justify;
    margin: 10px 0 10px 0;
}

hr {
    margin-top: 10px;
    border: solid 1px black;
}

.comodidades {
    @include flex (row,space-between,none);
    margin: 10px 0 10px 0;
}


.addFavoritos {
    @include flex (row,space-between,center);
    color: black;
    button {
        a {
            color: white;
        }
    }
}
.filtrosMobile {
    background-color: black;
    border-radius: 50%;
    padding: 20px;
    position: fixed;
    bottom: 70px;
    left: 150px;
    color: white;
}