

main {
    h1{
        text-align: center;
    margin: 10%;
    font-size: 70px;
    }
}

.formIgual {
    @include flex (row,center,center);
}

form {
    width: 70%;
    background-color: black;
    margin: 15% 0 15% 0;
    color: white;
    border-radius: 10px;
    padding: 25px;
        input{
            width: 100%;
            margin: 10px 0 10px 0;
        }
            select{
                width: 100%;
                margin: 10px 0 10px 0;
                border-radius: 10px;
            }
}

.btnForm {
    @include flex (row,space-between,center);
    margin: 10px;
    button {
        background-color: white;
        padding: 10px 20px 10px 20px;
        margin-top: 30px;
        border-radius: 5px;
    }
}

body {
    font-family: $typo-principal;}