@media (min-width:768px){

    /*Index tablet*/

    

    form {
        width: 50%;
    }

    /*Propiedades Tablet*/

    .navBar {
        display: flex;
    }


    .tituloPaginaDatos{
        margin: 20px;
    
    }

    .sectionPropiedades {
        display: flex;
        justify-content: center;
        width: 45%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.632);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin: 15px;
        .ventaAlquiler {
            top: 40px;
            right: 215px;
            padding: 10px;
         
        }
    } 

  .forTabletDesktop {
        display: flex;
        flex-wrap: wrap;
    }

    .sectionTodasPropiedades{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    footer {
        justify-content: space-around;
    }

    .filtrosMobile {
        position: fixed;
        bottom: 70px;
        left: 340px;
        color: white;
    }

    .onlyDesktop {
        display: none;
    }

}